body{
    margin:0px;
    font-family:Roboto!important;
}
.particleWrapper{
    background: #000000;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* z-index: 1; */
  }
  /*FilterButtons  */
  .filter-btn{
    border:1px solid black;
    border-radius:10px;
    padding:10px;
    margin: 0px;
    height:fit-content;
    cursor:pointer;
  }

  /* navbar */
   .nav-btn{
    display: none;
  }
  .hamburger .line,.is-active .line{
    width: 50px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }
  .is-active .line:nth-child(2){
    opacity: 0;
  }
  
  .is-active .line:nth-child(1){
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }
  
  .is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }
    
  @media (max-width:768px) {
      .nav-btn {
      /* margin-top:8px;   */
      display: inline-block;
      /* position: ab/ssolute; */
      /* right: 0px;
      top: 0px; */
    }
      .nav-btn > label {
      display: inline-block;
      width: 30px;
      height: 30px;
      /* padding: 13px; */
    }
    .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
  }  

  .signin-component {
    /* z-index: 2; */
    /* background-color: #9b9ea51c; */
      /* min-height: 100vh; */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
      position: absolute;
      right:40%;
      top:25%;
      /* left:0; */
  }

  /* overWriting reactbootstrap styles */
.link{
    text-decoration: none;
    color:white;
}
/* .link:hover{
    padding-bottom:10px;
 border-bottom:1px solid;
display:inline-block;
} */
/* overwrite bootdtrap en */

/* third party ocerwriting */

.carousel .slide img{
  width:35%!important;
}
.carousel .slide {
  background: white!important;
}
.carousel .thumbs-wrapper {
  margin:0px!important;
}